spring:
  application:
    name: gerenciando-meu-dindin

  datasource:
    url: jdbc:mysql://localhost:3306/bd_gerenciando_meu_dindin?serverTimezone=America/Sao_Paulo&useSSL=false
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true